<h1>Message ID</h1>
<br/>
<form [formGroup]="Form" (ngSubmit)="onSubmit()">
  <div>
    ID:
    <input type="text" formControlName="id" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" >
    <div *ngIf="submitted && f.id.errors">
      <div *ngIf="f.id.errors.required">Required field</div>
    </div>
  </div>
  <br/>
  <br/>
  <div>
    <button type="submit" [ngClass]="{ 'is-invalid': submitted && error!='' }">Get</button>
    <div *ngIf="submitted && error!=''">
      <br/>
      <br/>
      {{error}}
    </div>
    <div *ngIf="submitted && result!=''">
      <br/>
      <br/>
      {{result}}
      <br/>
      <br/>
      <div *ngFor="let d of data">
        id: {{d.value.id}}<br/>
        msg: {{d.value.msg}}<br/>
        tags: {{d.value.tags}}<br/>
        <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</form>
